<ion-header [translucent]="true" >
  <ion-toolbar  class="ion-text-center" >
    <ion-title>Quem é esse Pokémon? </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<div class="game-container">

  @if (!loading && secretPokemon && !won) {
    <div style="display: flex; justify-content: center; margin-bottom: 12px;">
      <ion-button appHoverHighlight
       class="btn-facilitar"           
       fill="outline" size="small" 
       (click)="toggleSilhouette()">
        {{ showSilhouette ? 'Ocultar Silhueta' : 'Facilitar (Mostrar Silhueta)' }}
      </ion-button>
    </div>
  }

  @if (!loading && secretPokemon) {
    <div class="image-wrapper">
      <img
        [src]="secretPokemon.image"
        [alt]="won ? secretPokemon.name : '???'"
        [class.silhouette]="!won"
        [class.hide-silhouette]="!showSilhouette && !won"
        class="pokemon-image"
        draggable="false"
        (dragstart)="preventImageDrag($event)"
      />

      @if (won) {
        <div class="victory-banner">
          <h2>🎉 Você acertou!</h2>
          <p>Foram necessárias <strong>{{ guesses.length }}</strong> tentativa(s).</p>
          <ion-button expand="block" color="success" (click)="newGame()">
            Novo Jogo
          </ion-button>
        </div>
      }

      @if (!won) {
        <div class="input-area">
          <form (submit)="submitGuess($event)">
            <ion-input
              placeholder="Escreva aqui..."
              [value]="guessInput"
              (ionInput)="onGuessInput($event)"
              [disabled]="guessing"
              autocomplete="off"
              autocorrect="off"
              autocapitalize="off"
              spellcheck="false"
              shape="round"
              fill="outline"
            ></ion-input>
          </form>
          @if (suggestions.length > 0) {
            <ul class="suggestions">
              @for (s of suggestions; track s.name) {
                <li (click)="selectSuggestion(s)">
                  <img [src]="s.image" alt="" class="suggestion-image">
                  {{ formatName(s.name) }}
                </li>
              }
            </ul>
          }
          @if (errorMsg) {
            <p class="error-msg">{{ errorMsg }}</p>
          }
        </div>
      }

      <p class="attempt-counter">
        Tentativas: <strong>{{ guesses.length }}</strong>
      </p>

      @if (guesses.length > 0) {
        <div class="history-header">
          <span>Nome</span>
          <span>Geração</span>
          <span>Tipos</span>
          <span>Altura</span>
          <span>Peso</span>
        </div>

        <div class="guess-history">
          @for (g of guesses; track $index) {
            <div class="guess-row">
            <span class="guess-name">
              <img [src]="g.pokemon.image" [alt]="g.pokemon.name" class="history-image">
              {{ formatName(g.pokemon.name) }}
            </span>

            <span class="cell" [class]="'cell--' + g.comparison.generation">
              {{ g.pokemon.generation }}
              @if (g.comparison.generation === 'higher') {
                <ion-icon name="arrow-up"></ion-icon>
              } @else if (g.comparison.generation === 'lower') {
                <ion-icon name="arrow-down"></ion-icon>
              } @else {
                <ion-icon name="checkmark-outline"></ion-icon>
              }
            </span>

            <span class="cell type-cell-container">
              @for (t of g.comparison.types; track t.name) {
                <div class="type-badge" [class]="'type-badge--' + t.status">
                  {{ t.name | pokemonType }}
                </div>
              }
            </span>

            <span class="cell" [class]="'cell--' + g.comparison.height">
              {{ g.pokemon.height | number: '1.1-1' }}m
              @if (g.comparison.height === 'higher') {
                <ion-icon name="arrow-up"></ion-icon>
              } @else if (g.comparison.height === 'lower') {
                <ion-icon name="arrow-down"></ion-icon>
              } @else {
                <ion-icon name="checkmark-outline"></ion-icon>
              }
            </span>

            <span class="cell" [class]="'cell--' + g.comparison.weight">
              {{ g.pokemon.weight | number: '1.1-1' }}kg
              @if (g.comparison.weight === 'higher') {
                <ion-icon name="arrow-up"></ion-icon>
              } @else if (g.comparison.weight === 'lower') {
                <ion-icon name="arrow-down"></ion-icon>
              } @else {
                <ion-icon name="checkmark-outline"></ion-icon>
              }
            </span>
          </div>
          } </div> } </div> } @if (!loading && !secretPokemon && errorMsg) {
    <div class="error-state">
      <p>{{ errorMsg }}</p>
      <ion-button color="danger" (click)="loadNewPokemon()">Tentar Novamente</ion-button>
    </div>
  }
    
</div> 
<ion-fab slot="fixed" vertical="bottom" horizontal="end">
<ion-fab-button color="tertiary" (click)="abrirPokedex()">
  <ion-icon name="book-outline"></ion-icon>
</ion-fab-button>
</ion-fab>
</ion-content>
